<!-- Banner Section Begin -->
<%= image_tag('hero/hero-1.jpg', alt: 'hero1') %>
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__text">
                            <h2>Explore Categories</h2>
                            <%= link_to "Shop Now", categories_path %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->