<h1>Categories</h1>
        <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__text">
<ul>
  <li>
    <%= link_to "All Products", products_path%>
  </li>
  <% @categories.each do |category| %>
    <li>
      <%= link_to "#{category.name} Products", category %>
    </li>
  <% end %>
</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

