<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Women's Products", category_products_path(@category.id) %>
  <%= link_to "Back to categories", categories_path %>
</div>
